<mat-toolbar class="header">

	<div class="header-logo"
			routerLink="/main"
			(click)="activeLink = null;">
		<img class="header-logo-img" src="../../assets/images/logo.png" alt="Logo">
	</div>

	<nav mat-tab-nav-bar class="header-menu">
		<a mat-tab-link
		   class="header-menu-item marvel-font"
		   *ngFor="let link of links;"
		   routerLink="/{{link}}"
		   (click)="activeLink = link;"
		   [active]="activeLink == link">
			{{link| titlecase}}
		</a>
	</nav>

	<div class="header-user marvel-font">
		<mat-icon>account_circle</mat-icon>
		<span class="header-user-name">{{authService.activeUser.name}}</span>
		<mat-icon class="logo-out"
		          routerLink="/login"
		          (click)="logout();">
			exit_to_app
		</mat-icon>
	</div>

</mat-toolbar>
