.login-page {
	height: 100vh;
	position: relative;
}

.container {
	width: 350px;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 20%;
	left: 25%;
}

.logo {
	max-height: 180px;
}

.form {
	position: relative;
	padding: 20px 0;
	display: flex;
}

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	z-index: -5;
}

.button button:first-of-type {
	color: white;
	font-size: 20px;
	height: 55px;
	margin-top: 10px;
}

.subtitle {
	display: flex;
	margin: 10px auto;
}

.subtitle button {
	background: transparent;
	padding: 0;
	font-size: inherit;
}

.error {
	color: #f44336;
}
