.bg1 {
	background: url("../../assets/images/background_1.jpg") no-repeat top right;
	background-size: cover;
}

.bg2 {
	background: url("../../assets/images/background_2.jpg") no-repeat top right;
	background-size: cover;
}

.bg3 {
	background: url("../../assets/images/background_3.jpg") no-repeat top right;
	background-size: cover;
}

.bg4 {
	background: url("../../assets/images/background_4.jpg") no-repeat top right;
	background-size: cover;
}
