<section *ngIf="!isLoading; else spinner">
	<div class="user-controls">
		<input matInput
		       placeholder="Search for event"
		       class="user-search"
		       #searchBox
		       (keyup)="search(searchBox.value)">

		<app-pagination (changeLimit)="getLimit($event)"></app-pagination>
	</div>

	<app-grid-for-tabs [itemsList]="eventsList"
	                   [isSearchActive]="isSearchActive"
	                   [component]="dialogComponent">
	</app-grid-for-tabs>
</section>

<ng-template #spinner>
	<div class="spinner">
		<ngx-pulse-loader class="item"
		                  color="white">
		</ngx-pulse-loader>
	</div>
</ng-template>
