<mat-grid-list *ngIf="!isSearchActive; else searchSpinner"
               [cols]="breakpoint"
               rowHeight="250px"
               gutterSize="30px">
	<mat-grid-tile *ngFor="let item of itemsList, let index = index;"
	               [ngSwitch]="component">
		<app-item-card *ngSwitchCase="'creators'"
		               class="item-container"
		               [item]="item">
		</app-item-card>

		<app-item-card *ngSwitchCase="'series'"
		               class="item-container"
		               [item]="item">
		</app-item-card>

		<app-story-item-card-component *ngSwitchCase="'story'"
		                               [data]="item"
		                               [index]="index + 1">
		</app-story-item-card-component>

		<app-item-card *ngSwitchDefault
		               class="item-container"
		               [item]="item"
		               (click)="openDialog(item)">
		</app-item-card>
	</mat-grid-tile>
</mat-grid-list>

<button mat-fab
        class="scroll-to-top"
        [ngClass]="{'show-scrollTop': isWindowScrolled}"
        (click)="scrollToTop()">
</button>

<ng-template #searchSpinner>
	<div class="spinner">
		<ngx-pulse-loader class="item"
		                  color="white">
		</ngx-pulse-loader>
	</div>
</ng-template>
