.scroll-to-top {
	position: fixed;
	bottom: 15px;
	right: 15px;
	background-color: rgba(0, 0, 0, 0.65);
	color: white;
	display: none;
	cursor: pointer;
}

.scroll-to-top:hover {
	background-color: rgba(0, 0, 0, 0.90);
}

.scroll-to-top::before {
	content: '\25b2';
	font-size: 15px;
	position: absolute;
	top: 20%;
	right: 34%;
}

.show-scrollTop {
	display: block;
}

.scroll-icon {
	color: rgba(188, 188, 188, 0.64);
}
