<mat-dialog-content>
	<div class="series-modal">
		<div class="series-item-image"
		     [style.background-image]="'url(' + data.thumbnail.path + '.' + data.thumbnail.extension +')'">
		</div>

		<div class="dialog-item-info position-relative">
			<mat-icon class="dialog-close"
			          (click)="close()">
				close
			</mat-icon>

			<h3 mat-dialog-title
			    class="series-item-title marvel-font">
				{{data.title || data.fullName}}
			</h3>

			<div class="series-description">
				<p [innerHTML]="data.description"></p>
			</div>

			<div class="series-item-links full-width">
				<a *ngFor="let link of data.urls"
				   mat-stroked-button
				   href="{{link.url}}"
				   target="_blank">
					{{link.type}}
				</a>
			</div>
		</div>
	</div>
</mat-dialog-content>
