.series-modal {
	display: flex;
}

.series-item-title {
	text-align: center;
}

.series-item-image {
	height: 320px;
	width: 200px;
	background-repeat: no-repeat;
	background-size: cover;
}

.series-item-links {
	display: flex;
	justify-content: flex-start;
	padding: 15px 0;
}

.series-item-links a {
	margin-right: 15px;
	text-transform: capitalize;
}
