/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: marvel;
	src: url(assets/fonts/Marvel-regular.ttf) format("opentype");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
	color: white;
	background-color: #212121
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.position-relative {
	position: relative;
}

.mat-input-element.user-search {
	display: block;
	border: 1px solid white;
	padding: 5px;
	width: 33%;
	margin: 5px 0 0 33%;
	height: 33px;
	border-radius: 15px;
	caret-color: white;
}

.spinner {
	min-height: 50vh;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mat-focused .mat-form-field-ripple {
	/*change color of underline when focused*/
	background-color: white !important;
}
.mat-focused .mat-form-field-label {
	/*change color of label when focused*/
	color: white !important;
}

.mat-focused .mat-input-element {
	caret-color: white !important;
}

.error-snack-bar {
	background-color: #8B0000;
	color: white;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
	background-color: white !important;
	width: 110px !important;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
	color: white !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
	color: white !important;
}

.mat-dialog-container {
	background-color: #222222;
}

.marvel-font {
	font-family: 'Marvel', sans-serif;
	letter-spacing: 2px;
	font-size: 25px;
	text-transform: uppercase;
}

.item-container.mat-grid-tile > .mat-figure {
	align-items: flex-start;
	padding-top: 5px;
}

.mat-figure .hover-scale {
	transition: 1s;
}

.hover-scale:hover {
	transform: scale(1.1);
}

.dialog-item-info {
	flex: 1 100px;
	display: flex;
	flex-direction: column;
	padding-left: 24px;
}

.dialog-close {
	cursor: pointer;
	margin-left: auto;
}

mat-card.card-item {
	padding: 0;
}

.user-controls {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}

.pull-right {
	margin-left: auto;
}
